<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    <title>{{details.username_url}} | Profile</title>
    </head>

    <body onload="setUsernames('{{details.username_url}}', '{{details.username}}')">
    {{> header flag=details.flag username=details.username}}

        <div>
            <div>
                <img src="{{details.pfpURL}}" alt="profile-picture">
            </div>
            <div>
                <span>{{details.username_url}}</span>
            </div>
            <div>
                <span>{{details.fname}} {{details.lname}}</span>
            </div>
            <div>
                <span>{{details.description}}</span>
            </div>
            {{#if isCurrentUser}}
                <div>
                    <form action="/edit-profile" method="get">
                        <button type="submit">Edit Profile</button>
                    </form>
                </div>
            {{/if}}
            <div>
                <form action="/delete" method="delete">
                    <input type="submit" value="Delete Profile" id="deleteButton">
                </form>
            </div>

        </div>
        {{> reservationList}}
    </body>
</html>
