<!DOCTYPE html>
<html>
<head>
    {{> head}}

    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <script src="/js/register.js"></script>
    <script src="/js/validator.min.js"></script>
</head>
<body>
{{> header}}

<div class="body-container">
    <form id="register" method="post">
        <h2>Sign up</h2>
        <label for="fname">First name</label><br>
        <input type="text" name="fname" id="fname" required><br>
        <p id="fnameError" class="error">{{fnameError}}</p>
        <label for="lname">Last name</label><br>
        <input type="text" name="lname" id="lname" required><br>
        <p id="lnameError" class="error">{{lnameError}}</p>
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username" required><br>
        <p id="usernameError" class="error">{{usernameError}}</p>
        <label for="email">Email</label><br>
        <input type="email" name="email" id="email" required><br>
        <p id="emailError" class="error">{{emailError}}</p>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" required><br>
        <p id="passwordError" class="error">{{passwordError}}</p>
        <div class="button-wrapper">
            <button type="submit" id="signup" disabled>Sign up</button>
        </div>
    </form>
</div>
</body>
</html>